@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

/* main page */
body {
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
    background: black url('../images/navigation.jpg') no-repeat fixed center;
    background-size: auto;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-size: 75px;
    letter-spacing: 2px;
}

#quiz-heading {
    margin: 150px 0 50px 0;
    text-align: center;
}

.buttons-div {
    text-align: center;
}

.main-nav {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #04263ca4;
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 65px;
    color: azure;
}

#rules-button {
    font-size: 50px;
}

.main-nav:hover {
    background-color: #031825;
    color:azure;
    width: 320px;
    height: 120px;
}

/* rules page */

#rules-tab {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 20px 0 20px;
    font-size: 60px;
    background-color: #04263ca8;
    color: #cfd6db;
}

#back-button {
    display: block;
    margin: 30px auto 0 auto;
}